/* style.css */
.stContainer {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0,53,241,0.49);
    transition: all 0.3s ease;
    position: relative;
}

.stContainer:hover {
    background-color: #fffe79;
    box-shadow: 0 8px 24px rgba(43,43,45,0.74);
    transform: translateY(-5px);
    cursor: pointer;
}

.metric-title {
    color: #333;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.metric-value {
    color: #444;
    font-size: 3rem;
}

.stButtonInside {
    margin-top: 15px;
    padding: 8px 20px;
    background-color: #0046d5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.stButtonInside:hover {
    background-color: #002a8f;
}
